.input.is-floating {
    box-shadow: 0 1px 3px rgba(50,50,93,.15), 0 1px 0 rgba(0,0,0,.02);
    border: 1px solid rgba(0,0,0,.04);
    transition: box-shadow .15s ease;
}

.input.is-floating:focus {
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}

.input::placeholder {
    color: rgb(170, 170, 170);
}

.button.is-floating {
    box-shadow: 0 1px 3px rgba(50,50,93,.15), 0 1px 0 rgba(0,0,0,.02);
    transition: box-shadow .15s ease;
}

.button.is-floating:hover {
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}